In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

sns.set_theme(style="darkgrid")

In [3]:
dados = pd.read_csv("../dados/dados_tratados.csv", sep=';')
dados.head()

,unitTypes,usageTypes,usableAreas,totalAreas,bedrooms,bathrooms,parkingSpaces,suites,longitude,latitude,zone,neighborhood,yearlyIptu,monthlyCondoFee,price
0,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,150.0,150.0,0.0,0.0,0.0,0.0,-43.704318,-22.906731,Zona Oeste,Santa Cruz,0.0,0.0,3500
1,APARTMENT,RESIDENTIAL,42.0,42.0,2.0,1.0,0.0,0.0,-43.203115,-22.896929,Zona Central,Santo Cristo,100.0,400.0,18500
2,APARTMENT,RESIDENTIAL,53.0,53.0,2.0,3.0,2.0,2.0,-43.173045,-22.924791,Zona Sul,Flamengo,NaN,NaN,18000
3,PARKING_SPACE,COMMERCIAL,12.0,12.0,0.0,0.0,1.0,NaN,-43.178923,-22.965244,Zona Sul,Copacabana,116.0,300.0,20000
4,APARTMENT,RESIDENTIAL,42.0,NaN,1.0,1.0,NaN,0.0,-43.222759,-22.888793,Zona Norte,São Cristóvão,110.0,300.0,15000

In [5]:
dados.isna().sum().sort_values(ascending=False)

yearlyIptu         10583
monthlyCondoFee     7813
totalAreas          7676
suites              6376
parkingSpaces       3233
bedrooms             510
zone                 165
bathrooms            163
longitude            148
latitude             148
usableAreas            9
unitTypes              0
usageTypes             0
neighborhood           0
price                  0
dtype: int64

### Tratando as colunas com dados nulos:

1 - usableAreas:

In [4]:
dados[dados.usableAreas.isna()]

,unitTypes,usageTypes,usableAreas,totalAreas,bedrooms,bathrooms,parkingSpaces,suites,longitude,latitude,zone,neighborhood,yearlyIptu,monthlyCondoFee,price
503,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,NaN,NaN,1.0,0.0,0.0,0.0,-43.402387,-22.888769,Zona Oeste,Jardim Sulacap,NaN,200.0,90000
682,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,NaN,NaN,1.0,0.0,0.0,0.0,-43.402387,-22.888769,Zona Oeste,Jardim Sulacap,NaN,160.0,100000
10246,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,NaN,NaN,1.0,0.0,0.0,0.0,-43.376166,-22.912619,Zona Oeste,Tanque,NaN,150.0,280000
23148,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,NaN,NaN,1.0,0.0,0.0,0.0,-43.218422,-22.901325,Zona Norte,São Cristóvão,407.0,NaN,450000
25755,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,NaN,NaN,1.0,0.0,0.0,0.0,-43.308822,-22.815456,Zona Norte,Vigário Geral,NaN,NaN,500000
35258,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,NaN,NaN,1.0,0.0,0.0,0.0,-43.353555,-22.884857,Zona Oeste,Praça Seca,NaN,NaN,670000
37152,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,NaN,NaN,1.0,0.0,0.0,0.0,-43.283475,-22.832943,Zona Norte,Penha Circular,524.0,NaN,695000
68597,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,NaN,NaN,1.0,0.0,0.0,0.0,-43.317934,-22.838557,Zona Norte,Irajá,NaN,NaN,2500000
80405,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,NaN,NaN,1.0,0.0,0.0,0.0,-43.299239,-22.842059,Zona Norte,Penha Circular,NaN,NaN,10000000

Como a maioria das features desses dados são nulas, não é possível realizar algum tipo de análise, logo vamos retirar esses dados que são nulos na coluna *usableAreas*.

In [5]:
dados = dados[~dados.usableAreas.isna()]

2 - Latitude e longitude:

As colunas latitude e longitude são bastante úteis caso a intenção seja criar novas features com base na geolocalização, como esse não é o caso, vamos retirar essas colunas, porém guarda-las em outro dataframe, caso futuramente seja útil.

In [6]:
# Guardando em um novo DataFrame

lat_long = dados[['latitude', 'longitude']]
lat_long.head()

    latitude  longitude
0 -22.906731 -43.704318
1 -22.896929 -43.203115
2 -22.924791 -43.173045
3 -22.965244 -43.178923
4 -22.888793 -43.222759

In [7]:
# Retirando do DataFrame original:

dados.drop(['latitude', 'longitude'], axis=1, inplace=True)

3 - bathrooms:

In [32]:
dados[dados.bathrooms.isna()]

,unitTypes,usageTypes,usableAreas,totalAreas,bedrooms,bathrooms,parkingSpaces,suites,zone,neighborhood,yearlyIptu,monthlyCondoFee,price
46,PARKING_SPACE,COMMERCIAL,14.0,NaN,NaN,NaN,NaN,NaN,Zona Central,Centro,80.0,300.0,28000
47,PARKING_SPACE,COMMERCIAL,15.0,15.0,NaN,NaN,2.0,NaN,Zona Sul,Copacabana,1167.0,330.0,27000
87,BUSINESS,COMMERCIAL,20.0,20.0,NaN,NaN,NaN,NaN,Zona Central,Centro,86.0,NaN,40000
100,BUSINESS,COMMERCIAL,12.0,12.0,NaN,NaN,1.0,NaN,Zona Sul,Copacabana,1078.0,450.0,31000
113,BUSINESS,COMMERCIAL,60.0,60.0,0.0,NaN,NaN,NaN,Zona Norte,Ricardo de Albuquerque,NaN,NaN,45000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80176,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,100000.0,100000.0,NaN,NaN,NaN,NaN,Zona Oeste,Santa Cruz,1000.0,1.0,9500000
80180,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,100000.0,100000.0,NaN,NaN,NaN,NaN,Zona Oeste,Santa Cruz,1000.0,1.0,9500000
80186,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,100000.0,100000.0,NaN,NaN,NaN,NaN,Zona Oeste,Santa Cruz,1000.0,1.0,9500000
80213,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,100000.0,100000.0,NaN,NaN,NaN,NaN,Zona Oeste,Santa Cruz,1000.0,1.0,9500000
80376,BUILDING,COMMERCIAL,394.0,NaN,NaN,NaN,NaN,NaN,Zona Central,Centro,1200.0,NaN,10000000

In [33]:
# Realizando a imputação dos dados pelos vizinhos mais próximos

from sklearn.neighbors import KNeighborsClassifier

def knn_impute(df, na_target):
    df = df.copy()
    
    numeric_df = df.select_dtypes(np.number)
    non_na_colums = numeric_df.loc[:,numeric_df.isna().sum() == 0].columns
    
    y_train = numeric_df.loc[numeric_df[na_target].isna() == False, na_target]
    X_train = numeric_df.loc[numeric_df[na_target].isna() == False, non_na_colums]
    X_test = numeric_df.loc[numeric_df[na_target].isna() == True, non_na_colums]
    
    knn = KNeighborsClassifier().fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    
    df.loc[df[na_target].isna() == True, na_target] = y_pred
    
    return df

In [40]:
dados_knn = knn_impute(dados, 'bathrooms')
dados_knn.head()

,unitTypes,usageTypes,usableAreas,totalAreas,bedrooms,bathrooms,parkingSpaces,suites,zone,neighborhood,yearlyIptu,monthlyCondoFee,price
0,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,150.0,150.0,0.0,0.0,0.0,0.0,Zona Oeste,Santa Cruz,0.0,0.0,3500
1,APARTMENT,RESIDENTIAL,42.0,42.0,2.0,1.0,0.0,0.0,Zona Central,Santo Cristo,100.0,400.0,18500
2,APARTMENT,RESIDENTIAL,53.0,53.0,2.0,3.0,2.0,2.0,Zona Sul,Flamengo,NaN,NaN,18000
3,PARKING_SPACE,COMMERCIAL,12.0,12.0,0.0,0.0,1.0,NaN,Zona Sul,Copacabana,116.0,300.0,20000
4,APARTMENT,RESIDENTIAL,42.0,NaN,1.0,1.0,NaN,0.0,Zona Norte,São Cristóvão,110.0,300.0,15000

Outra forma de realizar essa imputação é através do método *fillna*, que substitui os valores nulos por um valor padrão, e utilizando a moda dos valores não nulos da coluna *bathrooms*.

In [54]:
dados['bathrooms'].mode()[0]

2.0

In [55]:
dados['bathrooms'] = dados['bathrooms'].fillna(dados['bathrooms'].mode()[0])

In [56]:
dados.isna().sum().sort_values(ascending=False)

yearlyIptu         10576
monthlyCondoFee     7807
totalAreas          7667
suites              6376
parkingSpaces       3233
bedrooms             510
zone                 165
unitTypes              0
usageTypes             0
usableAreas            0
bathrooms              0
neighborhood           0
price                  0
dtype: int64

4 - zone:

In [62]:
dados.loc[:, 'zone']

0          Zona Oeste
1        Zona Central
2            Zona Sul
3            Zona Sul
4          Zona Norte
             ...
80431      Zona Oeste
80432      Zona Oeste
80433        Zona Sul
80434      Zona Oeste
80435      Zona Oeste
Name: zone, Length: 80427, dtype: object

Uma ideia é verificar se a coluna *zone* poderá ser inferida a partir do DataFrame *lat_long*

In [ ]:
lat_long['zone'] = dados.loc[:, 'zone']

In [71]:
len(lat_long[(lat_long.zone.isna() & lat_long.latitude.isna()) & (lat_long.longitude.isna())])

148

É possível observar que mesmo com a latidude e longitude, fazer a inferência da coluna *zone* não é uma boa ideia, pois a maioria dos que são nulos em *zone*, também são nulos em latitude e longitude. Portando vamos apenas retirar esses valores do dataframe.

In [73]:
dados = dados[~dados.zone.isna()]
dados_knn = dados_knn[~dados_knn.zone.isna()]

In [74]:
dados.isna().sum().sort_values(ascending=False)

yearlyIptu         10474
monthlyCondoFee     7781
totalAreas          7666
suites              6373
parkingSpaces       3231
bedrooms             510
unitTypes              0
usageTypes             0
usableAreas            0
bathrooms              0
zone                   0
neighborhood           0
price                  0
dtype: int64

5 - bedrooms 

Para *bedrooms* o tratamento será semelhante ao para *bathrooms*. Vamos realizar dois tipos de imputação, um pela moda com a utilização do método `fillna()` e outro utilizando o método dos vizinhos mais próximos.

In [76]:
dados[dados.bedrooms.isna()]

Empty DataFrame
Columns: [unitTypes, usageTypes, usableAreas, totalAreas, bedrooms, bathrooms, parkingSpaces, suites, zone, neighborhood, yearlyIptu, monthlyCondoFee, price]
Index: []

In [79]:
# Utilizando a função knn_imputer:

dados_knn = knn_impute(dados_knn, 'bedrooms')
dados_knn.head()

,unitTypes,usageTypes,usableAreas,totalAreas,bedrooms,bathrooms,parkingSpaces,suites,zone,neighborhood,yearlyIptu,monthlyCondoFee,price
0,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,150.0,150.0,0.0,0.0,0.0,0.0,Zona Oeste,Santa Cruz,0.0,0.0,3500
1,APARTMENT,RESIDENTIAL,42.0,42.0,2.0,1.0,0.0,0.0,Zona Central,Santo Cristo,100.0,400.0,18500
2,APARTMENT,RESIDENTIAL,53.0,53.0,2.0,3.0,2.0,2.0,Zona Sul,Flamengo,NaN,NaN,18000
3,PARKING_SPACE,COMMERCIAL,12.0,12.0,0.0,0.0,1.0,NaN,Zona Sul,Copacabana,116.0,300.0,20000
4,APARTMENT,RESIDENTIAL,42.0,NaN,1.0,1.0,NaN,0.0,Zona Norte,São Cristóvão,110.0,300.0,15000

In [80]:
# Pela moda:

dados['bedrooms'] = dados['bedrooms'].fillna(dados['bedrooms'].mode()[0])

In [81]:
dados.isna().sum().sort_values(ascending=False)

yearlyIptu         10474
monthlyCondoFee     7781
totalAreas          7666
suites              6373
parkingSpaces       3231
unitTypes              0
usageTypes             0
usableAreas            0
bedrooms               0
bathrooms              0
zone                   0
neighborhood           0
price                  0
dtype: int64

6 - parkingSpaces | suites

Para *parkingSpaces* e *suites* o tratamento será semelhante ao para *bathrooms*. Vamos realizar dois tipos de imputação, um pela moda com a utilização do método `fillna()` e outro utilizando o método dos vizinhos mais próximos.

In [86]:
dados['parkingSpaces'] = dados['parkingSpaces'].fillna(dados['parkingSpaces'].mode()[0])
dados['suites'] = dados['suites'].fillna(dados['suites'].mode()[0])
dados.isna().sum().sort_values(ascending=False)

yearlyIptu         10474
monthlyCondoFee     7781
totalAreas          7666
unitTypes              0
usageTypes             0
usableAreas            0
bedrooms               0
bathrooms              0
parkingSpaces          0
suites                 0
zone                   0
neighborhood           0
price                  0
dtype: int64

In [87]:
for column in ['parkingSpaces', 'suites']:
    dados_knn = knn_impute(dados_knn, column)

dados_knn.isna().sum().sort_values(ascending=False)

yearlyIptu         10474
monthlyCondoFee     7781
totalAreas          7666
unitTypes              0
usageTypes             0
usableAreas            0
bedrooms               0
bathrooms              0
parkingSpaces          0
suites                 0
zone                   0
neighborhood           0
price                  0
dtype: int64

7 - totalAreas

In [98]:
dados[~dados.totalAreas.isna()]

,unitTypes,usageTypes,usableAreas,totalAreas,bedrooms,bathrooms,parkingSpaces,suites,zone,neighborhood,yearlyIptu,monthlyCondoFee,price
0,RESIDENTIAL_ALLOTMENT_LAND,RESIDENTIAL,150.0,150.0,0.0,0.0,0.0,0.0,Zona Oeste,Santa Cruz,0.0,0.0,3500
1,APARTMENT,RESIDENTIAL,42.0,42.0,2.0,1.0,0.0,0.0,Zona Central,Santo Cristo,100.0,400.0,18500
2,APARTMENT,RESIDENTIAL,53.0,53.0,2.0,3.0,2.0,2.0,Zona Sul,Flamengo,NaN,NaN,18000
3,PARKING_SPACE,COMMERCIAL,12.0,12.0,0.0,0.0,1.0,1.0,Zona Sul,Copacabana,116.0,300.0,20000
6,APARTMENT,RESIDENTIAL,47.0,47.0,2.0,2.0,0.0,1.0,Zona Central,Santo Cristo,189.0,499.0,16000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80431,HOME,RESIDENTIAL,1024.0,1024.0,5.0,10.0,4.0,1.0,Zona Oeste,Barra da Tijuca,2900.0,2350.0,10000000
80432,HOME,RESIDENTIAL,750.0,1250.0,5.0,7.0,6.0,5.0,Zona Oeste,Barra da Tijuca,15000.0,3000.0,10000000
80433,APARTMENT,RESIDENTIAL,328.0,328.0,4.0,5.0,3.0,4.0,Zona Sul,Copacabana,NaN,NaN,10000000
80434,HOME,RESIDENTIAL,1024.0,1024.0,5.0,10.0,4.0,5.0,Zona Oeste,Barra da Tijuca,35000.0,2400.0,10000000
80435,APARTMENT,RESIDENTIAL,730.0,730.0,5.0,8.0,6.0,5.0,Zona Oeste,Barra da Tijuca,26000.0,1800.0,10000000

In [99]:
sum(dados['usableAreas'] == dados['totalAreas'])

64931

In [95]:
print(f"Porcentagem de usableAreas igual a totalAreas {64931/dados.shape[0]*100:.2f}%")

Porcentagem de usableAreas igual a totalAreas 80.90%

Logo os dados ausentes serão imputados como iguais as áreas usáveis.

In [103]:
dados[dados.totalAreas.isna()]['usableAreas']

4          42.0
5          31.0
7          46.0
8          60.0
9          31.0
          ...
80379     906.0
80392     839.0
80394     400.0
80420    1014.0
80424    1014.0
Name: usableAreas, Length: 7666, dtype: float64

In [104]:
selecao = dados[dados.totalAreas.isna()]

In [107]:
dados.loc[dados.totalAreas.isna(), 'usableAreas']

4          42.0
5          31.0
7          46.0
8          60.0
9          31.0
          ...
80379     906.0
80392     839.0
80394     400.0
80420    1014.0
80424    1014.0
Name: usableAreas, Length: 7666, dtype: float64

In [109]:
dados[dados.totalAreas.isna()]['totalAreas'] = dados.loc[dados.totalAreas.isna(), 'usableAreas'].values
dados[dados.totalAreas.isna()]

C:\Users\Bruno\AppData\Local\Temp\ipykernel_23284\3940664566.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados[dados.totalAreas.isna()]['totalAreas'] = dados.loc[dados.totalAreas.isna(), 'usableAreas'].values

,unitTypes,usageTypes,usableAreas,totalAreas,bedrooms,bathrooms,parkingSpaces,suites,zone,neighborhood,yearlyIptu,monthlyCondoFee,price
4,APARTMENT,RESIDENTIAL,42.0,NaN,1.0,1.0,1.0,0.0,Zona Norte,São Cristóvão,110.0,300.0,15000
5,APARTMENT,RESIDENTIAL,31.0,NaN,1.0,1.0,1.0,1.0,Zona Central,Santo Cristo,120.0,350.0,18500
7,APARTMENT,RESIDENTIAL,46.0,NaN,2.0,1.0,0.0,0.0,Zona Central,Santo Cristo,100.0,400.0,16000
8,APARTMENT,RESIDENTIAL,60.0,NaN,2.0,1.0,1.0,1.0,Zona Central,Santo Cristo,120.0,350.0,20000
9,APARTMENT,RESIDENTIAL,31.0,NaN,1.0,1.0,1.0,1.0,Zona Central,Santo Cristo,120.0,350.0,19000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80379,HOME,RESIDENTIAL,906.0,NaN,5.0,10.0,3.0,5.0,Zona Oeste,Barra da Tijuca,19000.0,1700.0,10000000
80392,BUSINESS,COMMERCIAL,839.0,NaN,0.0,6.0,1.0,1.0,Zona Oeste,Barra da Tijuca,13196.0,18788.0,10000000
80394,HOME,RESIDENTIAL,400.0,NaN,4.0,7.0,2.0,4.0,Zona Oeste,Barra da Tijuca,0.0,0.0,10000000
80420,HOME,RESIDENTIAL,1014.0,NaN,5.0,5.0,5.0,2.0,Zona Oeste,Barra da Tijuca,24317.0,2373.0,10000000
80424,HOME,RESIDENTIAL,1014.0,NaN,5.0,6.0,5.0,5.0,Zona Oeste,Barra da Tijuca,24317.0,2373.0,10000000